git+https://github.com/huggingface/transformers
accelerate
bitsandbytes
sentencepiece
xformers
loralib
langchain
gradio
chromadb
peft
unstructured
sentence_transformers
pypdf
pandas
numpy
transformers
torch

